.banner {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/about_banner.png), rgba(0,0,0,0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

article img {
    object-fit: cover;
    width: 100%;
    max-height: 580px;
    margin: 1rem 0;
}

article {
    margin-top: 2rem;
}

article p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

article h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

@media (min-width: 932px) {
  
    article h2 {
        font-size: 1.75rem;
    }

    
}