.ghost {
    display: none;
}

.big-wrapper {
    min-height: 100vh;
} 

.banner {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/blog_banner.png), rgba(0,0,0,0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.filter-wrapper {
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.category-pill,
.category-pill-unselected {
    font-size: 0.6875rem;
    color: white;
    padding: 0.5rem;
    font-weight: bold;
    width: fit-content;
    border-radius: 8px;
    align-items: center;
    transition: 0.2s;
}

.category-pill {
    order: -1;
    background-color: var(--nøytral600);
    border: 1px solid var(--nøytral700);
    display: none;
    gap: 4px;
    cursor: default;
}

.category-pill-unselected {
    white-space: nowrap;
    background-color: var(--nøytral800);
    display: flex;
}



.unselected-wrapper {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    display: flex;
    gap: 0.5rem;
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}


.unselected-wrapper::-webkit-scrollbar {
    display: none;
  }


.category-wrapper {
    display: none;
}

.sort-wrapper select,
.category-wrapper select {
    border-radius: 8px;
    border: 1px solid var(--nøytral400);
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    background-color:  var(--nøytral100);

}

.blog-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin: 1rem;
}

.blog-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.blog-card {
    text-decoration: none;
    color: var(--nøytral800);
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}

.blog-card:hover .blog-title {
    text-decoration: underline;
}

.blog-category,
.blog-date {
    font-size: 0.6875rem;
}

.blog-category {
    border-radius: 8px;
    background-color: var(--nøytral800);
    color: white;
    padding: 0.5rem;
    font-weight: bold;
}


.blog-category-date {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.blog-title {
    font-weight: bold;
}

.load-more {
    display: none;
    color: var(--nøytral600);
    transition: 0.2s;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 48px auto;
}

.load-more svg {
    fill: var(--nøytral400);
    transition: 0.2s;
}

.load-more:hover {
    color: var(--nøytral400);
}

.load-more:hover svg {
    fill: var(--nøytral300);
}


@media (min-width: 600px) {

    .ghost {
        display: block;
        order: 3;
    }

    .category-pill {
        order: 3;
    }
    
    .category-pill-unselected {
        display: none;
    }

    .category-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .filter-wrapper {
        flex-direction: row;
    }
}

@media (min-width: 932px) {

    

    .filter-wrapper {
        margin-left: 2rem;
    }

    .load-more {
        margin: 4rem auto;
    }

    .page-container-blog {
        max-width: 1600px;
        margin: 0 auto;
    }

    .blog-card-container {
        margin: 1rem 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }

    
}