.carousel-container {
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    
}

.carousel-container svg {
    display: none;
}

.carousel {
 
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 360px;
    position: relative; 
    margin-bottom: 48px;
    
   
}


 .carousel-container::-webkit-scrollbar {
    display: none;
  } 

.carousel-title-wrapper {
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 24px;
}

.carousel-title-wrapper h2 {
    font-size: 1.5rem;
}

.slide {
    transition: 0.2s ease;
}

.slide-1,
.slide-2,
.slide-3 {
    display: flex;
    gap: 1rem;
}


.slide-1 {
   margin-left: 1rem;
}

.slide-3 {
    padding-right: 1rem;
}

/* Blog card */


.blog-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.blog-card {
    min-width: 266px;
    text-decoration: none;
    color: var(--nøytral800);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--nøytral600);
    overflow: hidden;
    box-shadow: 0px 4px 0px var(--nøytral800);
    transition: 0.2s;
}

.blog-card:hover {
    box-shadow: 0px 0px 0px var(--nøytral800);
    transform: translateY(4px);
    /* border: 1px solid var(--nøytral500);
    color: var(--nøytral500); */
}

.blog-text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blog-category {
    background-color: var(--nøytral800);
    color: white;
    padding: 0.5rem;
    font-size: 0.6875rem;
    font-weight: bold;
}

.blog-date {
    font-size: 0.6875rem;
}

.blog-category-date {
    gap: 0.5rem;
    align-items: center;
}

.blog-title {
    font-weight: bold;
}


@media (min-width: 932px) {

    .carousel-title-wrapper h2 {
        font-size: 1.75rem;
     
    }

    .carousel-title-wrapper {
        margin-bottom: 2rem;
    }

    .slide-1 {
        margin-left: 0;
    }

    
    .slide-3 {
    padding-right: 0;
    }
    
    .carousel {
        max-width: 900px;
        margin: 0 auto 4rem auto;
     
  
    }

  
}

@media (min-width: 1100px) {

    
    .slide {

        width: 100%;
        position: absolute;
    }

  
    .slide-1,
    .slide-2,
    .slide-3 {
        gap: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    

  .carousel {
    overflow: hidden;
  }
   

    .carousel-container {
        width: 1080px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .carousel-container svg {
        display: block;
        fill: var(--nøytral300); 
        transition: 0.2s;
        cursor: pointer;
        margin-bottom: 4rem;
    }

    .carousel-container svg:hover {
        display: block;
        fill: var(--nøytral600) 
    }

    .carousel-container.disabled svg {
        fill: var(--nøytral100);
        cursor: default;
    }


    .blog-image {
        width: 100%;
    }
    
    
}


