@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.flex {
    display: flex;
}


.loader {
    min-height: 100vh;
   
}

.spinner {

    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 6px solid rgb(215, 215, 215);
    border-top: 6px solid var(--nøytral600);
    animation: spin 0.8s linear infinite;
    margin: 2rem auto;
} 


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);

    }
}


/* Buttons */

.button-outlined,
.button-outlined-small,
.button-filled {
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.button-outlined,
.button-outlined-small {
    border: 1px solid var(--nøytral800);
    color: var(--nøytral800);
    background-color: white;
}



.button-outlined {
    font-size: 	0.8125rem;
    padding: 8px 24px;
    box-shadow: 0px 4px 0px var(--nøytral800);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transform: translateY(0);
    max-width: 160px;
}

.button-outlined:hover {
    background-color: var(--nøytral200);
    box-shadow: 0px 0px 0px var(--nøytral800);
    transform: translateY(4px);
}



.button-outlined-small {
    font-size: 0.6875rem;
    padding: 8px;
    text-decoration: none;
}

.button-outlined-small:hover {
    background-color: var(--nøytral200);
}


.button-filled {
    font-size: 0.8125rem;
    padding: 8px 24px;
    color: white;
    background-color: var(--nøytral800);
    border: transparent;
}


.button-filled:hover {

    background-color: var(--nøytral700);

}




/* Logo */

a.logo {
    text-decoration: none;
}

.logo {
    color: white;
    font-size: 1.5rem;
    align-items: center;
    transition: 0.2s;
}

.logo svg {
    fill: white;
    transition: 0.2s;
}


.logo:hover  {
    color: var(--nøytral300);
}

.logo:hover svg {
    fill: var(--nøytral300);
}

.logo-heavy {
    font-weight: bold;
}


/* Forms */

input[type="text"] {
    font-family:'Montserrat', sans-serif;;
}



.banner {

    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


@media (min-width: 932px) {
    .banner {
        height: 400px;
    }
}