.error {
    background-color: rgb(255, 107, 107,0.5);
    color: rgb(138, 0, 0);
    border: 1px solid rgb(138, 0, 0);
    border-radius: 3px;
    padding: 0.3rem;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    display: block;
}

.banner {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/contact_banner.png), rgba(0,0,0,0.5);
    background-size: cover;
    height: 200px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.contact-person-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.contact-person-container img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 500px;
}

.contact-person-container h3 {
    font-size: 16px;
}

.job-title {
    font-style: italic;
    /* color: var(--nøytral500); */
}

.team-header {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.team-wrapper {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
}


/* Form */

.contact-introduction {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-introduction p {
    line-height: 1.5;
}

.contact-introduction a {
    color: var(--nøytral800);
    text-decoration: underline;
}

.contact-introduction img {
    max-width: 167px;
    align-self: center;
    margin-bottom: 2rem;
}

.contact-form {
    border: 1px solid var(--nøytral800);
    font-size: 14px;
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0px 4px 0px var(--nøytral800);
}

.input-label-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.contact-form input,
.contact-form textarea {
    border-radius: 8px;
    border: 1px solid var(--nøytral400);
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    background-color:  var(--nøytral100);

}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: 1px solid var(--nøytral800);
    border: 1px solid var(--nøytral100);
    
}

.contact-form textarea {
    resize: none;
}

@media (min-width: 700px) {

    h2 {
        font-size: 28px;
    }

    .contact-form {
        display: flex;
        gap: 3rem;
    }

    .contact-introduction {
        max-width: 340px;
    }

    .input-fields {
        flex-grow: 1;
    }

    .contact-introduction img {
        margin-bottom: 0rem;
        /* max-width: 125px; */
    }
}

@media (min-width: 932px) {
    .banner {
        height: 300px;
    }
}