.header-spacer {
    height: 56px;
}

header {
    background-color: var(--nøytral800);
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 56px;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}


.login-container,
.user-wrapper,
.mobile-nav a {
    color: white;
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.login-container p {
    user-select: none;
}

.login-button {
    font-size: 1rem;
}

.sign-up {
    display: flex;
    gap: 0.5rem;
}

.divider {
    display: none;
}

.user-wrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.mobile-divider {
    height: 1px;
    width: 100%;
    background-color: var(--nøytral700);
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}


/* Mobile nav */

.mobile-nav-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.mobile-nav-overlay {
    opacity: 0;
    background-color: var(--nøytral800);
    width: 30%;
    transition: 0.5s ease-out;
}

.mobile-nav a {
    text-decoration: none;
}

.mobile-nav {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: var(--nøytral800);
}

/* Logo */

header .logo {
   margin-left: 1rem;
}  

/* Search */

.search-bar-form {
    display: none;
    flex-grow: 1;
    max-width: 600px;
    margin-left: 1rem;
}



.search-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    padding: 6px 16px;
    flex-grow: 1;
    min-width: 100%;
}

.search-input {
    outline: transparent;
    border: transparent;
    flex-grow: 1;
}



/* searchbar active */

.search-bar-form.open {
    display: flex;
}

.icon-search.open,
.logo.open {
    display: none;
}

/* Icons */

.icon-wrapper {
    display: flex;
    align-items: center;
}

.icon-search {
    display: flex;
    margin-right: 1.5rem;
    padding: 1rem;
}
 
/* Burger menu */

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: fit-content;
    right: 12px;
    padding: 1rem;
    margin-left: 1.5rem;

}

.menu-btn-burger,
.menu-btn-burger::before,
.menu-btn-burger::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: white;
    transition: all .3s ease-in-out;
    border-radius: 5px;
}

.menu-btn-burger::before {
    transform: translateY(-7px);
}

.menu-btn-burger::after {
    transform: translateY(7px);
}


/* Animation */

.menu-btn.open .menu-btn-burger {
    transform: translateX(-50px);
    background-color: transparent;
}

.menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}


.menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
  

.mobile-nav-wrapper.open {
    right: 0;
}

.mobile-nav-wrapper.open .mobile-nav-overlay {
    opacity: 0.5;
}

body.no-scroll {
    overflow: hidden;
}

.login-button {
    padding: 8px 24px;
    background-color: white; 
    border: transparent;
    border-radius: 8px;
    transition: 0.2s;
}

a.login-button {
    color: var(--nøytral800);
}

.login-button:hover {
    background-color: var(--nøytral200);
}

@media (prefers-color-scheme: dark) {

    .menu-btn-burger,
    .menu-btn-burger::before,
    .menu-btn-burger::after {
       
        background-color: white !important;
  
}

}




@media (min-width: 600px) {

    .icon-search {
        display: none;
    }

    .search-bar-form {
        display: flex;
    }

}



@media (min-width: 1300px) {

    .login-container,
    .user-container,
    .mobile-nav a {
        font-size: 0.8125rem;
    }

    .login-container {
        flex-direction: row;
        gap: 0.5rem;
    }

    .sign-up {
        display: flex;
        gap: 0.5rem;
    }

    .mobile-divider {
        display: none;
    }

    .divider {
        display: block;
        color: var(--nøytral600);
    }

    .user-wrapper {
        flex-direction: row;
        width: fit-content;
    }

    header .logo {
        margin-left: 0rem;
     } 


    .icon-wrapper {
        display: none;
    }

    .mobile-nav-wrapper {
        position: static;
        width: fit-content;
    }

    .mobile-nav-overlay {
        display: none;
    }

    .mobile-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        background-color: transparent;
        width: fit-content;
        
    }

    .mobile-nav a {
        color: var(--nøytral400);
        transition: 0.2s;
    }

    .mobile-nav a:hover {
        color: white;
    }

    a.login-button {
        color: var(--nøytral800);
    }

    a.login-button:hover {
        color: var(--nøytral800);
    } 

    a.sign-up-link {
        color: white;
    }

    a.sign-up-link:hover {
        color: var(--nøytral200);
    }

    .search-bar-form {
        margin-left: 0;
    }

    header {
        padding: 0 1.5rem;
        gap: 2rem;
    }

}

