@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Notable&display=swap');

.hero {
    background-image: url(../images/hero_mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding: 1rem;
   
}

.hero p {
    color: #411267;
    max-width: 225px;
}

h1 {
    font-weight: 300;
    color: #4F167D;
    line-height: 1;
    font-size: clamp(2rem, 1.4483rem + 2.7586vw, 3rem);
}

h1 span {
    font-family: 'Notable', sans-serif;
}


.hero-btn {

    font-size: 14px;
    padding: 8px 24px;
    color: white;
    background-color: #4F167D;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.2s;
}


.hero-btn:hover {
    background-color: #411267;
    
}

@media (min-width: 350px) {

    .hero {
        background-image: url(../images/hero_tablet.png);
        max-width: 900px;
    }

}

@media (min-width: 600px) {
    
        .hero {
            background-image: url(../images/hero_desktop.png);
            max-width: 900px;
        }
}

@media (min-width: 900px) {
    .hero {
        border-radius: 8px;
        box-shadow: 0px 4px 0px var(--nøytral800);
        border: 1px solid var(--nøytral600);
        padding: 4rem;
    }
}