@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Notable&display=swap');

.hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 1rem;
    color: white;
    text-align: center;
   
}

.hero p {

    max-width: 225px;
}

h1 {
    font-weight: 300;
    line-height: 1;
    font-size: clamp(2rem, 1.4483rem + 2.7586vw, 3rem);
}

h1 span {
    font-family: 'Notable', sans-serif;
}


.hero-btn {

    font-size: 0.8125rem;
    padding: 8px 24px;
    color: white;
    background-color: #005496;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.2s;
}


.hero-btn:hover {
    background-color: #014a81;
    
}



@media (min-width: 936px) {

    .hero {
        min-height: 700px;
    }

    h1 {
        font-size: 4rem;
    }
 
}
