.blog-card-loader {
    min-height: 356px;
    min-width: 266px;
    text-decoration: none;
    color: var(--nøytral800);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid var(--nøytral600);
    overflow: hidden;
    box-shadow: 0px 4px 0px var(--nøytral800);
    transition: 0.2s;
}

.blog-image-loader {
    height: 200px;
}

.blog-date-loader {
    height: 30px;
}

.blog-title-loader {
    height: 76px;
 
}

.blog-image-featured-loader {
    height: clamp(18.9375rem, 12.5414rem + 31.9805vw, 31.25rem);
    width: 100%;
}

.blog-title-featured-loader {
    margin-bottom: 1rem;
}

.blog-title-featured-loader,
.excerpt-featured-loader {
    height: calc(120px - (72 * ((100vw - 320px) / (936 - 320))));
}

.excerpt-featured-loader {
    margin-top: 1rem;
}

.excerpt-featured-loader,
.button-featured-loader {
    margin-left: 1rem;
    margin-right: 1rem;
}

.button-featured-loader {
    margin-top: 2rem;
    height: 40px;
}


.blog-date-loader,
.blog-image-loader,
.blog-title-loader,
.blog-image-featured-loader, 
.blog-title-featured-loader,
.excerpt-featured-loader,
.button-featured-loader {
    background: linear-gradient(90deg, rgba(182,182,182,1) 0%, rgb(207, 207, 207) 50%, rgb(236, 236, 236) 100%);
    background-size: 200%;
    animation: skeleton-loader 1s infinite;
    
}

.blog-text-loader {
    padding: 1rem;
}

.blog-text-featured-loader {
    padding: 0 1rem;
}

.blog-text-loader,
.blog-text-featured-loader  {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
}

.featured-loader-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@keyframes skeleton-loader {
    0% {
       background-position: 0%;

    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;

    }
}

@media (min-width: 936px) {


.hide-desktop {
    display: none;
}

    
.featured-loader-container {
    flex-direction: row;
    align-items: center;
}

.blog-image-featured-loader {
    width: 500px;
}

.featured-text-wrapper {
    width: 342px;
}

.blog-title-featured-loader {
    height: 96px;
}

.excerpt-featured-loader {
    height: 76px;
}
    
}