@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--nøytral800);
    background-color: var(--nøytral100);
}

.test {
    width: 200px;
    height: 300px;
    border: 1px solid black;
}


.page-container {
    margin: 0 16px;
}


@media  (min-width: 932px) {
    .page-container {
        max-width: 900px;
        margin: 0 auto;
    }
    

}