:root {
    --nøytral100: #fafbfc;
    --nøytral200: #eeeeee;
    --nøytral300: #c5c5c5;
    --nøytral400: #a0a0a0;
    --nøytral500: #7d7d7d;
    --nøytral600: #646464;
    --nøytral700: #353535;
    --nøytral800: #111111;
}

