:root {
    --nøytral100: #fafbfc;
    --nøytral200: #eeeeee;
    --nøytral300: #c5c5c5;
    --nøytral400: #a0a0a0;
    --nøytral500: #7d7d7d;
    --nøytral600: #646464;
    --nøytral700: #353535;
    --nøytral800: #111111;
}


/* Typography */

.display-large {
    font-size: 3.563rem;
    line-height: 1.2;
    font-weight: bold;
}

.display-medium {
    font-size: 2.813rem;
    line-height: 1.2;
    font-weight: bold;
}

.display-small {
    font-size: 2.25rem;
    line-height: 1.2;
    font-weight: bold;
}

.heading-large {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bold;
}

.heading-medium {
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: bold;
}

.heading-small {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: bold;
}

.title-large {
    font-size: 1.375rem;
    line-height: 1.2;
    font-weight: bold;
}

.title-medium {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: bold;
}

.title-small {
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: bold;
}

.body-large {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: normal;
}

.body-medium {
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: normal;
}

.body-small {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: normal;
}

.label-large {
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: 0.1;
}

.label-medium {
    font-size: 0.75rem;
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: 0.5;
}

.label-small {
    font-size: 0.688rem;
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: 0.5;
}


/* Misc */

.elevation {
    box-shadow: 0px 4px 0px #111111;
}

.border-radius {
    border-radius: 8px;
}